
        <div id="map">

        </div>
   
<div class="columns everything">
    <div class="column">

    </div>
    <div class="column everything">
        <h1>Foot Traffic Tracker</h1>
    </div>
    <div class="column">

    </div>
</div>
