<div class="columns parent">
    <div class="column everything is-four-fifths">
    <div id="map">

    </div>
    </div>
    <div class="column datatable">
        <br>
        <div class="columns userinput">
        </div>
    </div>
</div>
<div class="columns everything">
    <div class="column">
        <div class="field">
        <div class="control">
            <input class="input is-info is-rounded" type="text" placeholder="Business Name">
        </div>
        </div>
    </div>
    <div class="column">
        <div class="field">
        <div class="control">
            <div class="select is-primary">
            <select>
                <option>Type of Business</option>
                <option>Cafe</option>
                <option>Bar</option>
                <option>Restaurant</option>
            </select>
            </div>
        </div>
        </div>
    <div class="column"> 
       <button class="ui button" id="compare">Compare</button>
    </div>
    <div class="information">
        
    </div>
</div>

